@import "../themes/night-theme/styles.css";

.button-navigation::part(label) {
    width: 100%;
    text-align: left;
    background: var(--color-transparency-0);
}

.button-navigation {
    margin: 5px;
    padding: 12px;
    border-radius: var(--border-radius-global);
    color: var(--color-transparency-9);
    background: var(--color-transparency-0);
    transition: 0.25s;
}

.button-navigation:hover {
    color: var(--color-blue);
    background: var(--color-transparency-0);
    cursor: pointer;
}

.button-navigation:active {
    color: var(--color-transparency-7);
    background: var(--color-transparency-0);
    cursor: pointer;
}

.button-navigation-current {
    margin: 5px;
    padding: 12px;
    border-radius: var(--border-radius-global);
    color: var(--color-transparency-10);
    background: var(--color-transparency-1);
    transition: 0.25s;
}

.button-navigation-current:hover {
    color: var(--color-blue);
    background: var(--color-transparency-1);
    cursor: pointer;
}